<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="article/list-article">liste des Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="article/create-article">Creation d'un Article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="article/update-article/:id">Modification d'un Article</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link ms-auto" routerLink="auth/login">Se connecter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="auth/register">S'inscrire</a>
          </li>
          
        </ul>
      </div>
    </div>
</nav>
<router-outlet></router-outlet>